<div id="about" class="grid-x grid-padding-x align-center">
  <div class="cell small-12 medium-8 large-6 text-center">
    <h1>What is DVCHacks?</h1>
    <div class="about-card card" data-smooth-scroll>
      DVCHacks is a <a href="#faq">hackathon</a> organized by Diablo Valley
      College students where <b>anyone</b> (yes, not just DVC students!) can
      make their dream project come true and compete for prizes!
      Join our 24-hour event filled with interesting workshops and fun
      activities.
    </div>
  </div>
</div>
