<div id="about" class="grid-x grid-padding-x align-center align-middle">
  <div class="cell medium-6 large-8">
    <h1>Who are we?</h1>
    <div class="card">
      <div class="card-section">
        <h3>Women in Computer Science</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
</div>
