/*
  Imports
*/
@import 'settings';
@import 'foundation';

/*
  Foundation
*/
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;
@include foundation-xy-grid-classes;
@include foundation-flex-classes;
@include foundation-sticky;
@include foundation-top-bar;
@include foundation-menu;
@include foundation-button;
@include foundation-card;

/*
  Custom
*/
#landing {
  height: 90vh;
}

#about {
  background: $light-gray;
  padding: 2.5rem 0;
}

#schedule {
  background: $dark-gray;
  color: $white;
  padding: 2.5rem 0;
}

#venue {
  background: $light-gray;

  .map-container {
    height: 50vh;
  }

  .map {
    width: 100%;
    height: 100%;
  }
}

#faq {
  background: $dark-gray;
  color: $white;
  padding: 2.5rem 0;
}
